@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
main {
  font-family: roboto;
}

h1 {
  font-family: Shrikhand;
}

.restaurant-menu h2 {
  font-family: Shrikhand;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 4px 5px;
  font-weight: 300;
  font-size: 1.75em;
}

h3 {
  font-weight: 400;
  font-size: 1em;
}

.restaurants h3 {
  font-size: 1.17em;
  font-weight: bold;
}

footer {
  font-family: roboto;
}

.button {
  position: relative;
  z-index: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2em;
  box-shadow: #24232338 2px 6px 5px;
  border: inherit;
  padding: 0 1.5em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: white;
  transition: transform 1000ms;
}
.button:hover .button__bg {
  opacity: 1;
}
.button__bg {
  background: linear-gradient(#ff93e1, #a16be0);
  position: absolute;
  border-radius: 2em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.card-footer__hearts {
  position: relative;
  width: 15%;
  z-index: 1;
  padding: 0.6em 0;
  cursor: pointer;
  color: black;
  font-size: 1.55em;
  transition: transform 1000ms;
}
.card-footer__hearts:hover {
  background: linear-gradient(to right bottom, #FF79DA 0%, #9356DC 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-footer__hearts:hover .card-footer__hearts--full {
  opacity: 1;
}
.card-footer__hearts--full {
  position: absolute;
  background: linear-gradient(to top, #FF79DA 40%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 18px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 13px;
}
header a {
  position: relative;
  height: 72.5%;
  color: black;
  text-shadow: 0 0 50px black;
  font-size: 1.25em;
  filter: blur(0.6px);
  align-self: center;
  left: -60px;
}
header img {
  width: 50%;
}

footer {
  background-color: #3a3a3a;
}
footer h1 {
  color: white;
  padding: 0 7.5%;
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
  padding: 1.25em 0 0 1.5em;
}
footer ul {
  padding: 0 1.5em;
  margin-bottom: 0;
}
footer ul li {
  display: flex;
  margin: 0.5em 0;
}
footer ul li:first-child i {
  padding-left: 0.2em;
}
footer ul li:first-child p {
  padding-left: 0.85em;
}
footer ul li:nth-child(2) p {
  padding-left: 0.65em;
}
footer ul li:nth-child(4) {
  padding-bottom: 2.1em;
  margin-bottom: 0;
}
footer ul li a {
  display: flex;
  color: white;
  text-decoration-line: none;
}
footer ul li a :nth-child(2) {
  margin: 0;
}
footer ul li a i {
  align-self: center;
  font-size: 0.8em;
}

.footer-menu {
  position: relative;
  top: 225px;
}

body {
  margin: 0;
}

.restaurant-menu img {
  object-fit: cover;
  position: absolute;
  width: 96%;
  height: 16.75em;
}
.restaurant-menu .div-button {
  text-align: center;
}
.restaurant-menu .div-button .button {
  padding: 0.75em 2.75em;
  margin: 0.7em 0 4em;
}
.restaurant-menu > div {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 3em 3em 0 0;
  top: 225px;
  padding: 4%;
}
.restaurant-menu > div section .underline {
  content: none;
  width: 40px;
  height: 3px;
  margin: 3px 4px 13px;
  background-color: #99E2D0;
}
.restaurant-menu > div section h3 {
  margin: 16px 4px 0;
}
.restaurant-menu > div section article:nth-child(5) {
  margin-bottom: 37px;
}
.restaurant-menu > div section article {
  width: 92%;
  background-color: white;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 4%;
}
.restaurant-menu > div section article h4 {
  margin: 0;
  font-weight: 700;
}
.restaurant-menu > div section article div {
  display: flex;
  justify-content: space-between;
}
.restaurant-menu > div section article div p {
  margin: 0;
  font-size: 0.9em;
}
.restaurant-menu > div section article div p + p {
  font-weight: bold;
}

.explore {
  height: 335px;
  display: flex;
  flex-direction: column;
}
.explore__header {
  display: flex;
  flex: 1;
  background-color: #e6e6e6;
  box-shadow: inset 0px 3px 3px #7e7e7e38;
  font-weight: bold;
}
.explore__header i {
  padding: 1em 1.25em 0em 6em;
}
.explore__main {
  flex: 3;
  background-color: #F2F2F2;
  text-align: center;
}
.explore__main p {
  flex: 2;
}
.explore__main h2 {
  font-size: 1.5em;
  font-weight: 900;
  padding: 0.8em 2em 0em;
  margin-bottom: 0;
}
.explore__main h2 + p {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 0.7em;
}
.explore__button {
  flex: 2;
  background-color: #F2F2F2;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 3.5em;
}

.functioning h2 {
  padding: 1.8em 0.8em 0;
  margin-bottom: 0;
}
.functioning ol {
  padding-left: 1.2em;
}
.functioning ol li {
  display: flex;
  list-style-type: none;
}
.functioning ol li > p {
  background-color: #9356DC;
  color: white;
  width: 1em;
  height: 1em;
  border-radius: 2em;
  padding: 0.25em;
  text-align: center;
  position: absolute;
  margin-top: 2.35em;
}
.functioning ol li div {
  display: flex;
  width: 90%;
  align-self: center;
  background-color: #F2F2F2;
  margin: 0.75em;
  padding: 0.8em 0;
  border-radius: 1.5em;
  box-shadow: #24232338 3px 5px 12px;
}
.functioning ol li div:hover {
  background-color: rgba(147, 86, 220, 0.16);
}
.functioning ol li div :first-child {
  color: grey;
  width: 22.5%;
  font-size: 1.25em;
  align-self: center;
  text-align: center;
  padding-left: 0.3em;
}
.functioning ol li div :last-child {
  font-weight: bold;
}
.functioning ol li:hover i {
  color: #9356DC;
}

.loader {
  display: flex;
  flex-direction: column;
  font: 2em bold;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  animation: loaderanim 0.01s;
  animation-delay: 3500ms;
  animation-fill-mode: forwards;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__text {
  text-align: center;
}
.loader__bar {
  width: 80%;
  height: 50px;
  border: black solid 2px;
}
.loader__bar--progress {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #99E2D0;
  transform-origin: left;
  animation: progress-bar 2500ms;
}

.container {
  z-index: -1;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes loaderanim {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 3.35em;
}
.restaurants h2 {
  padding: 2.25em 0.8em 0.15em;
  margin-top: 2.35em;
}
.restaurants a {
  text-decoration-line: none;
}
.restaurants a:nth-child(4) article p:first-child {
  display: none;
}
.restaurants a:nth-child(5) article p:first-child {
  display: none;
}
.restaurants a article {
  background-color: white;
  width: 90%;
  margin: 5% 5%;
  border-radius: 1em;
  box-shadow: 0 0 15px #00000025;
  overflow: hidden;
}
.restaurants a article p:first-child {
  position: absolute;
  margin-left: 17em;
  background-color: #99E2D0;
  border-radius: 0.15em;
  padding: 0.4em 0.9em;
  font-size: 0.85em;
  font-weight: bold;
  color: #468f7d;
}
.restaurants a article img {
  object-fit: cover;
  width: 100%;
  height: 11em;
}
.restaurants a article .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants a article .card-footer__text {
  color: black;
  width: 85%;
  flex-direction: column;
}
.restaurants a article .card-footer__text :first-child {
  margin: 0;
  padding: 0.5em 0.65em 0;
}
.restaurants a article .card-footer__text :last-child {
  margin: 0;
  padding: 0.25em 0.8em 1em;
}

/*# sourceMappingURL=styles.css.map */
