header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 13px 0 13px;
    a{
        position: relative;
        height: 72.5%;
        color: black;
        text-shadow: 0 0 50px black;
        font-size: 1.25em;
        filter: blur(0.6px);
        align-self: center;
        left: -60px;
    }
    img{
        width: 50%;
    }
}
@media all and (min-width: 480px){
    header{
        img{
            width: 55%;
        }
    }
}
@media all and (min-width: 1024px){
    header{
        img{
            width: 30%;
        }
    }
}