.restaurant-menu{
    img{
        object-fit: cover;
        position: absolute;
        width: 100%;
        max-width: 375px;
        height: 16.75em;
    }
    .div-button{
        display: flex;
        justify-content: center;
        .button{
            padding: 1em 2.75em;
            margin: 0.7em 0 4em;
        }
    }
    > div{
    position: relative;
    background-color: #f2f2f2;
    border-radius: 3em 3em 0 0;
    top: 225px;
    padding: 4%;
        section{
            .underline{
                content: none;
                width: 40px;
                height: 3px;
                margin: 3px 4px 13px;
                background-color: $color-tertiary;
            }
            h3{
                margin: 16px 4px 0;
            }
            article:nth-child(3){
                animation: article-anim 1000ms;
                transform: translate(0);
                opacity: 0;
                animation-delay: 500ms;
                animation-fill-mode: both;
            }
            article:nth-child(4){
                animation: article-anim 1000ms;
                transform: translate(0);
                opacity: 0;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }
            article:nth-child(5){
                animation: article-anim 1000ms;
                transform: translate(0);
                opacity: 0;
                animation-delay: 1500ms;
                animation-fill-mode: both;
            }
            article:nth-child(6){
                animation: article-anim 1000ms;
                transform: translate(0);
                opacity: 0;
                animation-delay: 2000ms;
                animation-fill-mode: both;
            }
            .articlespacebottom{
                margin-bottom: 37px;
            }
            article{
                display: flex;
                width: 100%;
                background-color: white;
                border-radius: 1em;
                margin-bottom: 1em;
                animation: article-anim 1000ms;
                transform: translate(0);
                opacity: 0;
                animation-fill-mode: both;
                overflow: hidden;
                h4{
                margin: 0;
                font-weight: 700;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                }
                div{
                    justify-content: space-between;
                    flex-direction: column;
                    align-self: end;
                    div{
                        font-size: 0.85em;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .text{
                    flex: 1;
                    padding: 4% 0 4% 1%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .price{
                    font-weight: bold;
                    font-size: 0.9em;
                    padding: 4% 0;
                    transform: translate(50px, 0);
                    animation: price-anim-out 750ms;
                    animation-fill-mode: both;
                }
                .verificon{
                    align-self: center;
                    text-align: center;
                    color: white;
                    background-color: $color-tertiary;
                    padding: 4%;
                    font-size: 2em;
                    transform: translate(120px, 0);
                    animation: verificon-anim-out 550ms linear;
                    animation-fill-mode: both;
                    i{
                        transform: rotate(-360deg);
                        transition: transform 1000ms;
                    }
                }
                &:hover .verificon{
                    animation: verificon-anim-in 550ms linear;
                    animation-fill-mode: both;
                    i{
                        transform: rotate(0);
                    }
                }
                &:hover .price{
                    animation: price-anim-in 750ms;
                    animation-fill-mode: both;
                }
            }
        }
    }
}
@keyframes article-anim{
    0%{
        transform: translate(0,30px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
  }
  @keyframes price-anim-in{
    0%{
        transform: translate(50px,0);
        padding: 4% 0;
    }
    10%{
        padding: 4% 0.4%;
    }
    20%{
        padding: 4% 0.8%;
    }
    30%{
        padding: 4% 1.2%;
    }
    40%{
        padding: 4% 1.6%;
    }
    50%{
        padding: 4% 2%;
    }
    60%{
        padding: 4% 2.4%
    }
    70%{
        padding: 4% 2.8%;
    }
    80%{
        padding: 4% 3.2%;
    }
    90%{
        padding: 4% 3.6%;
    }
    100%{
        transform: translate(0,0);
        padding: 4%;
    }
  }
  @keyframes price-anim-out{
    0%{
        transform: translate(0,0);
        padding: 4%;
    }
    10%{
        padding: 4% 3.6%;
    }
    20%{
        padding: 4% 3.2%;
    }
    30%{
        padding: 4% 2.8%;
    }
    40%{
        padding: 4% 2.4%
    }
    50%{
        padding: 4% 2%;
    }
    60%{
        padding: 4% 1.6%;
    }
    70%{
        padding: 4% 1.2%;
    }
    80%{
        padding: 4% 0.8%;
    }
    90%{
        padding: 4% 0.4%;
    }
    100%{
        transform: translate(50px,0);
        padding: 4% 0;
    }
  }
  @keyframes verificon-anim-in{
    0%{
        transform: translate(120px,0);
    }
    100%{
        transform: translate(0,0);
    }
  }
  @keyframes verificon-anim-out{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(120px,0);
    }
  }
  @media all and (min-width: 480px){
    .restaurant-menu{
        img{
            height: 30.75em;
            max-width: 768px;
        }
        > div{
        top: 440px;
            section{
                .underline{
                    width: 80px;
                    height: 8px;
                    margin: 12.5px 4px 30px;
                }
            }
        }
        .card-footer__hearts{
            height: 50px;
            width: 60px;
            &--full{
                top: 8px;
            }
        }
    }
}
@media all and (min-width: 1024px){
    .restaurant-menu{
        img{
            max-width: 1360px;
        }
        .div-button{
            display: flex;
            justify-content: center;
            .button{
                padding: 0 2.75em;
                margin: 0.7em 0 4em;
            }
        }
        .card-footer__hearts{
            &--full{
                top: 5px;
            }
        }
        > div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            h2{
                width: 100%;
            }
            section{
                width: 30%;
                .underline{
                    width: 40px;
                    height: 3px;
                    margin: 3px 4px 13px;
                }
            }
            .div-button{
                flex: 1;
                position: relative;
                top: 40px;
            }
        }
    }
}