.functioning{
    h2{
        padding: 1.8em 0.8em 0;
        margin-bottom: 0;
    }
    ol{
        padding-left: 1.2em;
        li{
            display: flex;
            list-style-type: none;
            > p{
                background-color: #9356DC;
                color: white;
                width: 1em;
                height: 1em;
                border-radius: 2em;
                padding: 0.25em;
                text-align: center;
                position: absolute;
                margin-top: 2.35em;
            }
            div{
                display: flex;
                width: 90%;
                align-self: center;
                background-color: #F2F2F2;
                margin: 0.75em;
                padding: 0.8em 0;
                border-radius: 1.5em;
                box-shadow: #24232338 3px 5px 12px;
                &:hover{
                    background-color: rgba(147,86,220,0.16);
                }
                :first-child{
                    color: grey;
                    width: 22.5%;
                    font-size: 1.25em;
                    align-self: center;
                    text-align: center;
                    padding-left: 0.3em;
                }
                :last-child{
                    font-weight: bold;
                }
            }
            &:hover{
                i{
                    color: #9356DC;
                }
            }
        }
    }
}
@media all and (min-width: 1024px){
    .functioning{
        margin-bottom: 3em;
        h2{
            text-align: center;
        }
        ol{
            display: flex;
            justify-content: space-between;
            li{
                width: 30%;
            }
        }
    }
}